{:paths ["src"]
 :tasks {:requires ([babashka.fs :as fs])
         pack (do (fs/create-dirs "target")
                  (fs/copy (fs/which "bb") "target/bb" {:replace-existing true})
                  (fs/copy "resources/bootstrap" "target/bootstrap" {:replace-existing true})
                  (fs/zip "runtime_layer.zip" "target" {:root "target"})
                  (fs/delete-tree "target")
                  (fs/create-dirs "target")
                  (shell "bb uberscript target/function.clj -m lambda.main")
                  (fs/zip "lambda.zip" "target" {:root "target"}))
         clean (do (fs/delete-tree "target")
                   (fs/delete-if-exists "lambda.zip")
                   (fs/delete-if-exists "runtime_layer.zip"))
         test {:extra-paths ["test"]
               :extra-deps {io.github.cognitect-labs/test-runner
                            {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
               :task (exec 'cognitect.test-runner.api/test)
               :exec-args {:dirs ["test"]}}
         deploy (do (shell {:dir "deploy"} "terraform init")
                    (shell {:dir "deploy"} "terraform apply"))}}
